!!! 5
html(lang='ja')
  head
    meta(charset='utf-8')
    title Bootstrap&#12398;&#32244;&#32722;
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='css/bootstrap.min.css', rel='stylesheet')
  body

    nav.navbar.navbar-default.navbar-fixed-top
      div.navbar-header
        button.navbar-toggle(data-toggle="collapse",data-target=".target")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="") DotInstall
      div.collapse.navbar-collapse.target
        ul.nav.navbar-nav
          li.active
            a(href="") Link1
          li
           a(href="") Link2
        ul.nav.navbar-nav.navbar-right
          li
            a(href="") Link3

    div.container(style='padding: 20px 0;')
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは
      p こんにちは




    script(src='https://code.jquery.com/jquery.js')
    script(src='js/bootstrap.min.js')
