!!! 5
html(lang='ja')
  head
    meta(charset='utf-8')
    title Bootstrap&#12398;&#32244;&#32722;
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='css/bootstrap.min.css', rel='stylesheet')
  body
    div.container(style='padding: 20px 0;')
      ul.breadcrumb
        li
          a(href="") Home
        li
          a(href="") Users
        li.active
          |@taguchi
      ul.pagination
        li.disabled
          a(href="") &laquo;
        li.active
          a(href="") 1
        li
          a(href="") 2 
        li
          a(href="") 3 
        li
          a(href="") &raquo;
      ul.pager
        li.previous
          a(href="") 前へ 
        li.next
          a(href="") 次へ

    script(src='https://code.jquery.com/jquery.js')
    script(src='js/bootstrap.min.js')
