!!! 5
html(lang='ja')
  head
    meta(charset='utf-8')
    title Bootstrap&#12398;&#32244;&#32722;
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='css/bootstrap.min.css', rel='stylesheet')
  body

    div.container(style='padding: 20px 0;')
      p
        |Product A 
        span.label.label-primary New!
      p
        |Inbox 
        span.badge 5 
      p
        |Inbox 
        span.badge
      div.alert.alert-info
        button.close(data-dismiss="alert") &times;
        | お知らせ！
      div.panel.panel-primary
        div.panel-heading
          |お知らせ！
        div.panel-body
          |こんにちは



    script(src='https://code.jquery.com/jquery.js')
    script(src='js/bootstrap.min.js')
