!!! 5
html(lang='ja')
  head
    meta(charset='utf-8')
    title Bootstrap&#12398;&#32244;&#32722;
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='css/bootstrap.min.css', rel='stylesheet')
  body
    div.container(style='padding: 20px 0;')
      p
        i.glyphicon.glyphicon-book
        |  Book
      button.btn.btn-primary 
        i.glyphicon.glyphicon-book
        |  Push Me!
      
      div.btn-group
        button.btn.btn-primary Push Me!
        button.btn.btn-success Push Me!
        button.btn.btn-info Push Me!

    script(src='https://code.jquery.com/jquery.js')
    script(src='js/bootstrap.min.js')
